/* Styles for screens up to 1200px wide */
@media only screen and (max-width: 1200px) {
    .hero-box {
        padding: 200px 80px;
    }
    .feature {
        padding: 0 50px;
    }
    .section .box {
        padding: 40px 50px;
    }
}

/* Styles for screens up to 992px wide */
@media only screen and (max-width: 992px) {
    .hero-box {
        padding: 150px 60px;
    }
    .feature {
        padding: 0 30px;
    }
    .section .box {
        padding: 40px 30px;
    }
    .left-box-2 img {
        height: 375px;
    }
    nav button{
        display: none;
    }
    .flex1{
        width: 35%;
    }
}

/* Styles for screens up to 768px wide */
@media only screen and (max-width: 768px) {
    nav ul{
        display: none;
    }
    .hero-box {
        padding: 100px 40px;
    }
    .feature {
        padding: 0 20px;
    }
    .section .box {
        flex-direction: column;
        align-items: center;
        padding: 40px 20px;
    }
    .left-box-2 img {
        height: 300px;
    }
    .flex1{
        width: 40%;
    }
}

@media only screen and (max-width: 576px) {
    /* Styles for screens up to 576px wide */
    .hero-box {
        padding: 76px 4px;
    }
    .feature {
        gap: 1rem;
        padding: 0 10px;
    }
    .section .box {
        padding: 40px 10px;
    }
    .left-box-2 img {
        height: 225px;
    }
    .flex1{
        width: 48%;
    }

}
/* Styles for screens up to 350px wide */
@media only screen and (max-width: 350px) {
    .hero-box {
        padding: 76px 4px;
    }
    .left-box h2{
        font-size: 35px;
    }
    .feature {
        gap: 1rem;
        padding: 0 7px;
    }
    .section .box {
        padding: 34px 7px;
    }
    .right-box{
        font-size: 18px;
    }
    p.right-para{
        font-size: 17px;
    }
    .left-img2  {
        display: none;
    }
    /* .left-img1 img {
        width: 95%;
    } */
    .flex1{
        width: 40%;
    }

}
